<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">SERVICES</h2>
        <h3 class="section-subheading text-muted">우리는 소프트웨어를 더 가치있게 만듭니다.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
        <h4 class="service-heading">홈페이지 제작</h4>
        <p class="text-muted">기업 이미지에 맞는 홈페이지를 제작해드립니다.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
        <h4 class="service-heading">쇼핑몰 제작</h4>
        <p class="text-muted">주문 제작 방식으로 개인화된 맞춤형 쇼핑몰을 제작해드립니다.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
          </span>
        <h4 class="service-heading">모바일 앱 & 웹 제작</h4>
        <p class="text-muted">안드로이드, 아이폰, 윈도우폰 등 모든 기기의 모바일 앱과 웹페이지를 제작합니다.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
          </span>
        <h4 class="service-heading">컨설팅</h4>
        <p class="text-muted">웹페이지 검색엔진 최적화(SEO), 보안, 소프트웨어 설계까지 소프트웨어의 모든 분야 컨설팅합니다.</p>
      </div>
    </div>
  </div>
</section>